################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
/WeaveUI/WeaveUI/bin/Debug/net6.0
/WeaveUI/WeaveUI/obj
